*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.mat   binary
*.nii   binary
*.gz    binary
*.xlsx  binary
*.ply   binary
*.pdf   binary
