.updrs-image {
  width: 100px;
  height: 100px;
  margin-left: 5px;
}

.updrs-image:hover {
  transform: scale(3);
  filter: none;
  backdrop-filter: blur(5px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.tooltip-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tooltip-text {
  visibility: visible;
  font-family: avenir;
  /* weight 400 regular */
  /* width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.2s; */
}

.updrs-image:hover .tooltip-text {
  /* visibility: visible; */
  opacity: 1;
}

